<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dbFile" value="C:\Users\user\Documents\GitHub\Chatique\Chatique\bin\Debug\database.sqlite3"/>
    <add key="connectionString" value="Data Source=C:\Users\user\Documents\GitHub\Chatique\Chatique\bin\Debug\database.sqlite3"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>